@import 'vars';

@media screen and (max-width:992px) {
    .siteFerias {
        .feriasGroup {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        
    }
}

@media screen and (max-width:768px){
    .siteFooter {
        .grupo1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .siteFerias {
        .feriasGroup {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            margin: auto;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width:576px){
    .siteFooter {
        .grupo1 {
            width: 90%;
        grid-template-columns: repeat(1, 1fr);
        }
    }
    
    .siteFerias {
        .feriasGroup {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            margin: auto;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    }
}