.accordion-item {
    background-color: rgb(243,238,195) !important;
    .accordion-header {
        .accordion-button {
            background-color: $rojoVive !important;
            width: 90% !important;
            margin: auto;
        }
    }
    .accordion-body {
        .accordion-group {
            width: 90%;
            height: auto;
            padding: 10px;
            display: flex;
            gap: 20px;
            margin: auto;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .flex-item {
            img {
                width: 100%;
                height: auto;
                max-width: 200px;
                margin: auto;
            }
        }
        .flex-item:hover {
            transform: scale(1.5);
            transition: all 1s;
            margin: 100px 50px;
        }
    }
}