.carousel {
    .carousel-inner {
        .carousel-item {
            margin: auto;
        }
    }
}

.container {
    h2 {
        margin-top: 45px;
        text-align: center;
        text-decoration: underline;
    }
    p {
        font-size: 20px;
        margin-bottom: 45px;
        text-align: center;
    }
}